*{
  padding: 0%;
  margin: 0%;
}

.evidenziato{
  background-color: #F1F100;
}

p{
  text-align: justify;
}

.content{
  padding-bottom: 20px;
}/* generale */
*{
  padding: 0%;
  margin: 0%;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight{
  background-color: yellow;
}

/* HEADER */
header{
  /* padding: 10px; */
  height: 100px;
  background-color: #4ea0ff;  
  background-image: url('../img/img/pattern.png');
  background-size: 35%;
}

header .logo img{
  width: 200px;
  margin-top: 40px;
}

/* MAIN */
main{
  padding: 20px 10px;
}

main p.text{
  padding: 20px 0px;
}
main .dida{
  color: grey;
}

main .dida span{
  color: #4ea0ff; 
}

main .dida.date,
main .photo .caption{
  font-size: 0.8rem;
}

main ul{
  margin-left: 15px;
}

main table{
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

main table thead{
  background-color: #23a9e5;
  color: white;
  text-align: left;
}

main table .text{
  width: 50%;
}

main table .odd{
  background-color: #b1e5f2;
}

/* FOOTER */

footer{
  padding: 20px 10px;
}


footer .image-box{
  width: 270px;
  height: 158px;
  background-color: red;
  color: white;
  margin: 10px 0px;
  padding: 20px;
}

#image-monitor{
  background-image: url('../img/img/monitor.jpg');
}
#image-graph{
  background-image: url('../img/img/graph.jpg');
}

main, footer{
  padding-bottom: 20px;
  padding: 20px;
}
main, footer{
  margin: 5px;
  max-width: 1000px;
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
}
.logo, .copyright{
  padding: 20px;
}

header h1{
  margin: 5px;
  width: 90%;

}
.banner{
  background-image: url('../img/img/pattern.png');
  background-color: #4EA0FF;
  height: 50px;
  background-position: center;
  background-size: contain;
  margin: 0%;
  /* background-size: cover; */
  /* width: 100%;  */
  /* background-repeat: repeat-x; */
}

.logo{
  background-image: url('../img/img/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 90%;
  max-width: 800px;
  margin-right: auto;

}

.blu{
  color: #37B1E8;
}



.tim{
  background-size: auto;
  font-size: 0.5rem;
}

.elenco{
  text-align: left;
}

table{
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin: 0%;
  border: 0;
  margin-bottom: 20px;
}

thead{
  background-color: #20A9E5;
  color: white;
  
}

.riga-azzurra{
  background-color: #B1E5F2;
}
tbody{
  width: 50%;
}

.monitor, .grafico{
  width: 200px;
  height: 200px;
  background-image: url('../img/img/monitor.jpg');
  background-size: cover;
  color: white;
  font-size: bold;
}

.grafico{
  background-image: url('../img/img/graph.jpg');
  color: white;
}

strong{
  text-align: center;
  font-size: large;
margin: auto;}

.piè{
  color: grey;
  padding-bottom: 5px;
}
