/* generale */
*{
  padding: 0%;
  margin: 0%;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight{
  background-color: yellow;
}

/* HEADER */
header{
  /* padding: 10px; */
  height: 100px;
  background-color: #4ea0ff;  
  background-image: url('../img/img/pattern.png');
  background-size: 35%;
}

header .logo img{
  width: 200px;
  margin-top: 40px;
}

/* MAIN */
main{
  padding: 20px 10px;
}

main p.text{
  padding: 20px 0px;
}
main .dida{
  color: grey;
}

main .dida span{
  color: #4ea0ff; 
}

main .dida.date,
main .photo .caption{
  font-size: 0.8rem;
}

main ul{
  margin-left: 15px;
}

main table{
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

main table thead{
  background-color: #23a9e5;
  color: white;
  text-align: left;
}

main table .text{
  width: 50%;
}

main table .odd{
  background-color: #b1e5f2;
}

/* FOOTER */

footer{
  padding: 20px 10px;
}


footer .image-box{
  width: 270px;
  height: 158px;
  background-color: red;
  color: white;
  margin: 10px 0px;
  padding: 20px;
}

#image-monitor{
  background-image: url('../img/img/monitor.jpg');
}
#image-graph{
  background-image: url('../img/img/graph.jpg');
}